<MastHead @shouldFlicker={{true}} />

<div class="text-6xl text-yellow text-shadow text-center">
  {{this.model.currentReaction.prompt.value}}
</div>

<div class="text-center mt-8">
  <input
    class="bg-transparent border-0 border-b-2 border-yellow rounded-none text-3xl outline-none text-center text-yellow font-mono pb-3"
    {{on "change" this.setCurrentQuery}}
    {{on "keyup" this.setCurrentQuery}}
    {{on "keydown" this.setCurrentQueryByOption}}
    {{on "keydown" this.setReactionValueFromEnter}}
    id="current-query"
  >
</div>

<ul class="reaction text-6xl text-center mt-8 flex list-reset justify-center">
  <EmojiMatcher @query={{this.currentQuery}} @onMatch={{this.setMatches}} as |matches|>
    {{#each matches as |match|}}
      <EmojiSelectionItem @emoji={{match.unicode}} @shortname={{match.shortname}} />
    {{/each}}
  </EmojiMatcher>
</ul>

<ul class="results-list list-reset pt-8 w-lg mx-auto">
  <li>
    <ResultItem @title="Motherhood" @emoji="😤" />
  </li>
  <li>
    <ResultItem @title="Ember Animated" @emoji="🤩" />
  </li>
  <li>
    <ResultItem @title="Bower" @emoji="🤢" />
  </li>
</ul>
