<MastHead @shouldFlicker={{true}} />

{{#if this.model.currentReaction}}
  <ReactionInput
    @promptValue={{this.model.currentReaction.prompt.value}}
    @onSet={{this.setReactionAndGoToNext}}
  />
{{/if}}

{{log this.model.reactions}}

<ul class="results-list list-reset pt-8 w-lg mx-auto">
  {{#animated-container}}
    {{#animated-each
      (sort-by "updatedAt:desc" (filter-by "isReacted" this.model.reactions))
      use=moveTransition
      duration=200
      as |reaction|
    }}
      <li>
        <ResultItem @reaction={{reaction}} />
      </li>
    {{/animated-each}}
  {{/animated-container}}
</ul>
