<div
  class="text-6xl text-yellow text-shadow text-center"
  {{did-insert (perform this.countdownTask)}}
  {{did-update (perform this.countdownTask @promptValue)}}
>
  {{@promptValue}}
</div>

{{#if this.startedAt}}
  <CountdownTimer
    @timeRemaining={{
      min
      (div this.shotClock 1000)
      (ceil (div (sub this.shotClock (moment-diff this.startedAt (now interval=10))) 1000))
    }}
  />
{{/if}}

<div class="text-center mt-8">
  <input
    class="bg-transparent border-0 border-b-2 border-yellow rounded-none text-3xl outline-none text-center text-yellow font-mono pb-3"
    {{on "change" this.setCurrentQuery}}
    {{on "keyup" this.setCurrentQuery}}
    {{on "keydown" this.setCurrentQueryByOption}}
    {{on "keydown" this.setReactionValueFromEnter}}
    {{did-insert this.focusInput}}
    id="current-query"
    autocomplete="off"
  >
</div>

<ul class="reaction text-6xl text-center mt-8 flex list-reset justify-center">
  <EmojiMatcher @query={{this.currentQuery}} @onMatch={{this.setMatches}} as |matches|>
    {{#each matches as |match index|}}
      <EmojiSelectionItem
        @emoji={{match.unicode}}
        @shortname={{match.shortname}}
        @index={{index}}
      />
    {{/each}}
  </EmojiMatcher>
</ul>
